@import "bootstrap.css";

.header{margin-bottom:61px;}
.main-banner{position: relative;background-color:rgba(0,0,0,.8);display:block;padding-bottom:30%;}
.banner-bg{position: absolute;top:0;left:0;right:0;bottom:0;}
.banner-bg>img{position:absolute;width:100%;height:100%;opacity: .3;}
.banner-bg>.container{display:table;height:100%;}
.main-title{text-align: center;color:#fff;z-index: 1000;position:relative;display:table-cell;vertical-align: middle;}

.main-content{background-color:#F6F5F5;}

.navbar-dropdown-menu{background-color:#080808;text-align: center;}
.navbar-dropdown-menu > li + li{border-top:1px solid #191919;}
.navbar-dropdown-menu > li > a{padding:15px 0;color:#9d9d9d;-webkit-transition: all ease .3s;
-moz-transition: all ease .3s;
transition: all ease .3s;}
.navbar-dropdown-menu > li > a:hover,.navbar-dropdown-menu > li > a:focus{background-color:#171717;color:#fff;}

.dropdown .caret{-webkit-transition: all .3s;
-moz-transition: all .3s;
transition: all .3s;}
.dropdown.open .caret{-webkit-transform: rotate(180deg); transform: rotate(180deg);}

.nav-search{margin:13px;width:215px;text-align: center;padding-left:13px;border-left:1px solid #3c3c3c;white-space: nowrap;overflow: hidden;}
.nav-search-form{position: relative;display:inline-block;}
.nav-search-form .form-group{margin-bottom:0;}
.nav-search-form .form-control{background:none;border-color:#9d9d9d;color:#fff;width:34px;visibility: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.nav-search-btn{position: absolute;right:0;top: 0;background:none;color:#9d9d9d;-webkit-transition: all .5s ease;
transition: all .5s ease;
    border: 0;
    height: 34px;
    width: 34px;}

.nav-search-form.active .form-control,.nav-search-form:hover .form-control,.nav-search-form:focus .form-control{width:200px;visibility: visible;border-color:#fff;background-color:#353535;}
.nav-search-form.active .nav-search-btn,.nav-search-form:hover .nav-search-btn{border-left: 1px solid #fff;color:#fff;}

.nav-search-share{display: inline-block;-webkit-transition: all .5s ease;border-radius: 4px;
transition: all .5s ease;
    line-height:32px;color:#9d9d9d;
    height: 34px;
    width: 34px;}
.nav-search-share:hover,.nav-search-share:focus{border:1px solid #fff;color:#fff;text-decoration: none;}

@media(min-width: 768px){
    
}